<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css" />
    <title>Document</title>
  </head>
  <body>
    <nav>
      <ul>
        <li>
          <a href="/"><img class="today" src="/assets/calendar-x.svg"></img> Today</a>
        </li>
        <li>
          
          <a href="/work"><img class="work" src="assets/person-workspace.svg"></img> Work</a>
        </li>
      </ul>
    </nav>
  </body>
</html>
